* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2dfd3;
  font-family: "Sarabun", serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 5%;
  margin-left: 5%;
}

h1 {
  font-size: 2.5rem;
  width: 25%;
  text-align: left;
  /* padding-left: 0; */
}

h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10% 0;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 20rem;
  max-width: 20rem;
  padding-bottom: 2.5%;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: #b65542;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

nav li {
  display: inline-block;
  padding: 1rem 2rem;
}

nav li a {
  text-decoration: none;
  color: #f2dfd3;
  font-size: 1.5rem;
}

nav li a:hover {
  text-shadow: 0.5px -0.5px #fbfbf8;
}

section {
  display: flex;
}

article {
  flex: 1;
  border: solid 1px black;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0rem 0.5rem #b65542;
}

.promotion {
  display: block;
  margin: 2rem auto;
  min-height: 50vh;
  box-shadow: 0 0.5rem 1rem #b65542;
  background-image: url("Images/Promotion.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 75% 100%;
  background-position: right;
}

.promotion p {
  max-width: 25%;
  font-size: 1.25rem;
  text-align: center;
}

form {
  width: 20%;
  text-align: center;
  margin: 2rem 1.75rem;
  padding: 1rem;
  background-color: #b65542;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
}

input {
  width: 100%;
  height: 1.5rem;
  text-align: center;
}

article > h1 {
  display: inline-block;
  text-align: center;
  padding-top: 0;
}

h2 ~ img {
  display: block;
  width: 75%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
}

h2 ~ p {
  text-align: left;
  padding: 10%;
  font-size: 1.25rem;
}

footer {
  display: flex;
}

footer div {
  flex: 1;
}

footer img {
  max-height: 3rem;
  max-width: 3rem;
}
