* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2dfd3;
  font-family: "Sarabun", serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 5%;
  margin-left: 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 20rem;
  max-width: 20rem;
  padding-bottom: 2.5%;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: #b65542;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

nav li {
  display: inline-block;
  padding: 1rem 2rem;
}

nav li a {
  text-decoration: none;
}

section {
  display: flex;
}

article {
  flex: 1;
}

footer {
  display: flex;
}

footer div {
  flex: 1;
}

footer img {
  max-height: 3rem;
  max-width: 3rem;
}
